*{
    margin: 0;
    padding: 0;
}
body {
  margin: 0;
  font-size: 25px;
  font-family:Arial, Helvetica, sans-serif;
  background-color: rgb(11, 4, 32);
  color: white;
}

/* farve valg 
mørke blå
rgb(11, 4, 32);

lyse blå
rgb(0, 238, 255);

lyserød 
rgb(255, 0, 179)

color: white;
*/

/* Gentagene ting hen over alle siderne */
/* Header over nav */
.header {
  background-image: linear-gradient(rgb(0, 238, 255), rgb(255, 0, 179));
  color: black;
  text-shadow: 2px 2px 5px white;
  font-size: 30px;
  text-align: center;
  padding: 3%;
  margin: 4%;
  border-radius: 20px;
}
/* Navigation bar*/
.topnav {
  overflow: hidden;
  background-color: rgb(255, 0, 179);
  margin: 4%;
  border-radius: 20px;
} 
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 28px;
}
.topnav a:hover {
  background-color: rgb(11, 4, 32);
  color: white;
}   
.topnav .icon {
  display: none;
}
/* Footer */
footer{
  padding: 10px;
  background-color: rgb(0, 238, 255);
  color: black;
  text-align: center;    
}

/* Informatison omkring flows */
.mitB{
  background-image: linear-gradient(rgb(255, 0, 179),rgb(0, 238, 255));
  color: black;
  text-shadow: 2px 2px 5px white;
  font-size: 30px;
  text-align: center;
  padding: 6%;
}
.mitB h4{
  color: white;
  text-shadow: 2px 2px 5px black;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: left;
}
/* knap til navigation rundt flows */
.mit{
  background-color: rgb(11, 4, 32);;
  color: white;
  text-shadow: 2px 2px 5px black;
  font-size: 30px;
  border-radius: 20px;
  margin: 4%;
}
.mitKnap{
  display: flex;
  justify-content: space-evenly;
}
.mitKnap a{
  background-color: rgb(255, 0, 179);
  color: white;
  text-decoration: none;
  font-size: 25px;
  padding: 5%;
  margin: 2%;
  border-radius: 15px;
}
.mitKnap a:hover {
  background-color: rgb(0, 238, 255);
  color: black;
  text-shadow: 2px 2px 5px white;
}
.mitpc{
  text-shadow: 2px 2px 5px black;
  display:none;
}

/* flows overskrifter til de forskelige flow*/
.flowB{
  background-image: linear-gradient(rgb(0, 238, 255), rgb(255, 0, 179));
  padding: 2%;
}
.flow{
  background-color: rgb(11, 4, 32);
  margin: 50px 25px;
  border-radius: 15px;
}
.flow h3{
  text-shadow: 2px 2px 5px black;
  text-align: center;
  font-size: 40px;
  padding: 4% 4% 0 4%;
}
.flow p{
  text-shadow: 2px 2px 5px black;
  font-size: 30px;
  padding: 4%;
  text-align: center;
}
.bunder-pil{
  padding: 4%;
  margin: 4%;
  display: flex;
  justify-content: center;
}

/* CSS til Første_semester.html */

/* FLOW 1 standret ting ( bokse / skrift / farve)*/
.flow1{
  background-image: linear-gradient(rgb(0, 238, 255), rgb(255, 0, 179));
  margin: 50px 25px; 
  border-radius: 15px;
}
.titleFlow{
  color: black;
  text-shadow: 2px 2px 5px white;
  text-align: center;
  font-size: 40px;
  padding: 5%;
}
.flow1 p{
  text-shadow: 2px 2px 5px black;
  padding: 4%;
}
.flow1 h2{
  color: black;
  text-shadow: 2px 2px 5px white;
  padding: 4%;
}
.flow1 li{
  text-shadow: 2px 2px 5px black;
  padding: 4%;
}
.tryk{
  text-shadow: 2px 2px 5px black;
  text-align: center;
}
/* billeder i flow 1 */
.flow1img{
  padding: 3px;
}
.flow1Fod{
  margin: 5% 11% ;
  padding-bottom: 4%;
}
/* billede som tranformatison */
.flow1ToIEn{
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 4%;
}
.image1{
  display: block;
  height: auto;
  margin: 2%;
}
.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}
.flow1ToIEn:hover .overlay {
  opacity: 1;
}
/* rolle billeder flow 1 */
.scroll-container {
  text-align: center;
  margin: 2%;
  padding-bottom: 4%;
  overflow: auto;
  white-space: nowrap;
}
.scroll-container img {
  padding: 10px;
}

/* FLOW 2 */
/* flow 2 standret ting */
.flow2{
  background-image: linear-gradient(rgb(0, 238, 255), rgb(255, 0, 179));
  margin: 50px 25px; 
  border-radius: 15px;
}
.titleFlow{
  color: black;
  text-shadow: 2px 2px 5px white;
  text-align: center;
  font-size: 40px;
  padding: 5%;
}
.flow2 p{
  text-shadow: 2px 2px 5px black;
  padding: 4%;
}
.flow2 h2{
  color: black;
  text-shadow: 2px 2px 5px white;
  padding: 4%;
}
.flow2 li{
  text-shadow: 2px 2px 5px black;
  padding: 4%;
}
/* Lp cover og plade billede */
.teaser{
  margin: 2%; 
  padding: 4%;
}
.lp-showcase{
  display: flex;
  flex-direction: column;
}
.lp-showcase-container img{
  position: relative;
  transition: 0.3s ease-in-out;
}
.lp-showcase-container img:nth-child(1){
  z-index: +1;
}
.lp-showcase-container img:nth-child(2){
  margin-left: -15rem;
  filter: brightness(50%);
}
.lp-showcase-container:hover img:nth-child(2){
  transform: translate(10rem) rotateZ(30deg);
  filter: brightness(100%);
}
/* billederne i Færdige Versions boks */
.færdigVersion{
  margin: 5% 11% ;
  padding-bottom: 4%;
}

/* FLOW 3 */
/* flow 3 standret ting ( bokse / skrift / farve)*/

/* FLOW 4 */
/* flow 4 standret ting ( bokse / skrift / farve)*/

/* FLOW 5 */
/* flow 5 standret ting ( bokse / skrift / farve)*/





/* CSS til Andet_semester.html */

/* FLOW 1 */
/* flow 1 standret ting ( bokse / skrift / farve)*/


/* CSS til Tredje_semester.html og Fjerde_semester.html */
/* Pause side  */
.comingSoon{
    background-image: linear-gradient(rgb(0, 238, 255), rgb(255, 0, 179));
    margin: 30px 25px;
    border-radius: 15px;
    height: 795px;
}
.titleComingSoon{
    color: black;
    text-shadow: 2px 2px 5px white;
    padding-top: 50%;
    text-align: center;
    font-size: 40px;
}
.comingSoon h3{
    text-shadow: 2px 2px 5px black;
    padding: 5% 10%;
}
.hjemKnap{
    display: flex;
    justify-content: space-around;
    padding: 4%;
}
.hjemKnap a{
    background-color: rgb(11, 4, 32);
    color: white;
    text-decoration: none;
    font-size: 35px;
    padding: 5%;
    border-radius: 15px;
}
.hjemKnap a:hover {
    background-color: rgb(0, 238, 255);
    color: black;
}

@media screen and (max-width: 600px) {
  /* navigatison knapper */
  .topnav a:not(:first-child) {
      display: none;
  }
  .topnav a.icon {
      float: right;
      display: block;
      border-radius: 10px;
  }
  .topnav.responsive {
      position: relative;
  }
  .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
  }
  .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
  }
 
}

@media screen and (min-width: 900px) {
  /* navigatison*/
  .topnav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 4%;
  }

  /* knapper til navigation rundt flows */
  .mit{
    display: none;
  }
  .mitpc{
    display: block;
  }

}